<%
    var categories = [
        {
            name: "Get Started with Programming",
            url: "HowDoI"
        },
        {
            name: "Learn a Language",
            url: "LanguageCourses"
        },
        {
            name: "Get Tutoring",
            url: "Tutoring"
        },
        {
            name: "Need Something Specific?",
            url: "Help"
        }
    ]

var how_do_i = [
    {
        verb: "Build Websites",
        name: "Web Programming Course",
        icon: "/images/marbles/hi/d.png",
        page: "",
        desc: "Form your piece of the internet.",
        background: "rgb(67,109,225)",
        title_color: "rgb(183,231,255)"
    },
    {
        verb: "Build Games",
        name: "Game Programming Course",
        icon: "/images/marbles/hi/d.png",
        page: "",
        desc: "Craft virtual worlds. ",
        background: "rgb(136,36,36)",
        title_color: "rgb(255,166,166)"
    },
    {
        verb: "Build Apps",
        name: "Application Programming Course",
        icon: "/images/marbles/hi/d.png",
        page: "",
        desc: "Bring about useful tools.",
        background: "rgb(32,124,78)",
        title_color: "rgb(170,255,220)"
    },
    {
        verb: "Build Servers",
        name: "Server Programming Course",
        icon: "/images/marbles/hi/d.png",
        page: "",
        desc: "Connect devices together.",
        background: "rgb(111,59,117)",
        title_color: "rgb(251,146,255)"
    },
    {
        verb: "Build Databases",
        name: "Database Programming Course",
        icon: "/images/marbles/hi/d.png",
        page: "",
        desc: "Store, search & maintain information.",
        background: "rgb(131,89,67)",
        title_color: "rgb(255,195,148)"
    }]

var languages = [
    {
        name: "Python",
        icon: "/images/marbles/hi/d.png",
        logo: "/images/lang/python.svg",
        logo_i: "devicon-python-plain",
        page: "",
        desc: "Learn fast. Tools built-in.",
        i_color: "hsl(0,0%,100%)",
        background: "rgb(0,50,175)",
        title_color: "rgb(193,238,255)"
    },
    {
        name: "JavaScript",
        icon: "/images/marbles/hi/d.png",
        logo: "/images/lang/javascript.svg",
        logo_i: "devicon-javascript-plain",
        desc: "Build powerful websites & more",
        i_color: "hsl(359,100%,100%)",
        background: "rgb(122,112,0)",
        title_color: "rgb(254,255,212)"
    },
    {
        name: "Kotlin",
        icon: "/images/marbles/hi/d.png",
        logo: "/images/lang/kotlin.svg",
        logo_i: "devicon-kotlin-plain",
        desc: "Build powerful apps with JVM",
        i_color: "hsl(359,100%,100%)",
        background: "rgb(26,26,26)",
        title_color: "rgb(255,255,255)"
    },
    {
        name: "Java",
        icon: "/images/marbles/hi/d.png",
        logo: "/images/lang/java.svg",
        logo_i: "devicon-java-plain",
        page: "",
        desc: "Build powerful apps with JVM",
        i_color: "hsl(359,100%,100%)",
        background: "rgb(26,26,26)",
        title_color: "rgb(255,255,255)"
    },
    {
        name: "C#",
        icon: "/images/marbles/hi/d.png",
        logo: "/images/lang/csharp.svg",
        logo_i: "devicon-csharp-plain",
        desc: "Enjoy powerful capabilities from .NET",
        i_color: "hsl(359,100%,100%)",
        background: "rgb(46,0,61)",
        title_color: "rgb(250,195,255)"
    },
    {
        name: "C++",
        icon: "/images/marbles/hi/d.png",
        logo: "/images/lang/cplusplus.svg",
        logo_i: "devicon-cplusplus-plain",
        page: "",
        desc: "Build powerful apps.",
        i_color: "hsl(359,100%,100%)",
        background: "rgb(80,0,19)",
        title_color: "rgb(255,148,185)"
    },
    {
        name: "HTML",
        icon: "/images/marbles/hi/d.png",
        logo: "/images/lang/html.svg",
        logo_i: "devicon-html5-plain",
        page: "",
        desc: "Layout web pages & more.",
        i_color: "hsl(359,100%,100%)",
        background: "rgb(93,36,0)",
        title_color: "rgb(255,228,213)"
    },
    {
        name: "CSS",
        icon: "/images/marbles/hi/d.png",
        logo: "/images/lang/css.svg",
        logo_i: "devicon-css3-plain",
        page: "",
        desc: "Style web pages.",
        i_color: "hsl(359,100%,100%)",
        background: "rgb(0,34,86)",
        title_color: "rgb(186,218,255)"
    },
    {
        name: "Rust",
        icon: "/images/marbles/hi/d.png",
        logo: "/images/lang/rust.svg",
        logo_i: "devicon-rust-plain",
        page: "",
        desc: "Build powerful apps. ",
        i_color: "hsl(359,100%,100%)",
        background: "rgb(134,61,0)",
        title_color: "rgb(255,195,148)"
    },
    {
        name: "SQL & Postgres",
        icon: "/images/marbles/hi/d.png",
        logo: "/images/lang/postgresql.svg",
        logo_i: "devicon-postgresql-plain",
        page: "",
        desc: "Work powerfully with data.",
        i_color: "hsl(359,100%,100%)",
        background: "rgb(36,0,107)",
        title_color: "rgb(255,195,148)"
    },
    {
        name: "PHP",
        icon: "/images/marbles/hi/d.png",
        logo: "https://cdn.jsdelivr.net/gh/devicons/devicon/icons/php/php-original.svg",
        logo_i: "devicon-php-plain",
        page: "",
        desc: "Servers simplified",
        background: "rgb(131,67,128)",
        title_color: "rgb(255,195,148)"
    }
]

    function Repeat(num, str) {
        var retVal = [];
        for (var i = 0; i < num; i++) {
            retVal.push(str)
        }
        return retVal.join(" ");
    }
%>

<style>
    .CourseItem {
        color: white;
        display: grid;
        grid-template-columns: 1fr 4fr;
        grid-gap: 10px;
        padding: 1.5rem;
        height: 100%;
    }
    .CoursesContainer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 5px;
        grid-gap: 5px;
    }
    .CourseDetails {
        display: grid;
        grid-template-rows: auto 1fr auto;
    }

    @media only screen and (max-width: 800px) {
        .CoursesContainer {
            grid-template-columns: 1fr;
        }
    }
</style>

<div>
    Enjoy one-on-one lessons over zoom. $25 per hour, or $45 for two hours.
</div>
<a href="<%= categories[0].page%>">
    <div style="color: white; text-align: center">
        <div><%= categories[0].name %></div>
        <div><%= categories[0].desc%></div>
    </div>
</a>
<div style="display: grid; text-align: center; grid-template-columns: <%- Repeat(categories.length - 1, "1fr")%>">
    <% for (var i = 1; i < categories.length; i++) { %>
        <a href="<%= categories[i].page%>">
            <div style="color: white;">
                <div><%= categories[i].name %></div>
                <div><%= categories[i].desc%></div>
            </div>
        </a>
    <% } %>
</div>
<div></div>
<div id="HowDoI" style="background-color: #000031">
    <h1>Let's Begin</h1>
    <div style="text-align: center">Let's pick something which interests you.</div>
    <div class="CoursesContainer" style="grid-template-rows: 1fr 1fr 1fr;">
        <% for (var i = 0; i < how_do_i.length; i++) { %>
            <a href="<%= how_do_i[i].page%>">
                <div class="CourseItem" style="background: <%- how_do_i[i].background%>;">
                    <img style="filter: drop-shadow(2px 2px 5px rgba(0,0,0,0.91)); -webkit-filter: drop-shadow(2px 2px 5px rgba(0,0,0,0.83))" src="<%= how_do_i[i].icon%>">
                    <div class="CourseDetails">
                        <div style="font-size: 1.5rem; font-weight: lighter; color: <%- how_do_i[i].title_color%>"><%= how_do_i[i].verb%></div>
                        <div class="RegText"><%= how_do_i[i].desc%></div>
                        <div style="font-size: 0.7rem; font-weight: lighter"><%= how_do_i[i].name %></div>
                    </div>
                </div>
            </a>
        <% } %>
    </div>
</div>
<div id="Languages_1">
    <h1>Learn a Language</h1>
    <div style="text-align: left">Offering one-on-one courses in these languages.</div>
    <div class="CoursesContainer" style="">
        <% for (var i = 0; i < languages.length; i++) { %>
            <a href="<%= languages[i].page%>">
                <div class="CourseItem" style="background: <%= languages[i].background%> ">
                    <div style="text-align: center">
                        <div>
                            <i style="font-size: 3rem; color: <%= languages[i].i_color%>" class="<%= languages[i].logo_i%>"></i>
                            <div>
<!--                                <img  style="filter: drop-shadow(2px 2px 5px rgba(0,0,0,0.91)); -webkit-filter: drop-shadow(2px 2px 5px rgba(0,0,0,0.83))"  src="<%= languages[i].logo%>">-->

                            </div>
                        </div>
                        <div style="font-size: 0.7rem;">
                            <%= languages[i].name %>

                        </div>
                    </div>

                    <div class="CourseDetails">
                        <div style="font-size: 1.5rem; font-weight: lighter; color: <%= /*languages[i].title_color*/%>"><%= languages[i].name %> Course</div>
<!--                        <div class="RegText"><%= languages[i].desc%></div>-->
<!--                        <div style="font-size: 0.7rem; font-weight: lighter"><%= languages[i].name %> Courses</div>-->
                    </div>
                </div>
            </a>
        <% } %>
    </div>
</div>
<div id="Tutoring">
    <h1>Tutoring Available</h1>
</div>
<div id="Get Help">
    <h1>Get Help</h1>
</div>
